html {
	background: linear-gradient(0deg, #00000088 30%, #fafafa44 100%),
		url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80")
			no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

nav {
	display: grid;
	grid-template-columns: 1fr, 1fr, 1fr;
	grid-template-areas: ". . navbar";
}

.navbar {
	grid-area: navbar;
	display: flex;
	flex-direction: row;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	list-style-type: none;
	gap: 3rem;
	justify-content: flex-end;
	margin-right: 2rem;
	color: #fafafa;
}

.title {
	font-family: "Alegreya", serif;
	font-weight: 700;
	font-size: 8.5rem;
	color: #fafafa;
	text-align: center;
	margin-top: 20rem;
}

